@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Sanchez:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);

.nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: 'Arimo', sans-serif;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 52px;  
  font-family: 'Sanchez', serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 18px;
  color: #fff;
  font-family: 'Muli', sans-serif;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Sanchez', serif;
  font-size: 22px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 20px;
    font-family: 'Sanchez', serif;

}

.neighborhood-guides p{
     font-size: 14px;
    margin-bottom: 13px;
    font-family: 'Muli', sans-serif;
  
}
